code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  overflow: hidden;
}

#imagem-lateral {
  height: 100vh;
  object-fit: cover;
  max-height: 100%;
}

.formulario {
  min-height: calc(100vh - 56px);
  overflow-y: auto;
}